* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  background-color: rgb(177, 163, 163);
  height: 20px;
  width: 20px;
  left: -30px;
  top: -30px;
  border: 1px solid black;
}

.player .dir {
  position: absolute;
  height: 4px;
  width: 20px;
  background-color: black;
  top: 10px;
  left: 10px;
  transform-origin: 0px 2px;
}

.player .self {
  color: #1e1e1e;
}

.player .enemy {
  color: red;
}

.bullet {
  height: 4px;
  width: 4px;
  background-color: black;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  left: -4px;
  top: -4px;
}

.shell {
  height: 600px;
  width: 600px;
  background-color: #cba16f;
  position: relative;
}

.object > li {
  position: absolute;
  font-size: 12px;
  font-weight: 900;
  line-height: 20px;
  text-align: center;
}

.tank {
  background-color: #25342d;
  height: 20px;
  width: 20px;
  left: -30px;
  top: -30px;
  border: 5px solid #3a4a49;
  box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.5);
}

.barrel {
  position: absolute;
  height: 5px;
  width: 15px;
  background-color: #25342d;
  top: 3px;
  left: 5px;
  transform-origin: 0px 2px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.grass li {
  position: absolute;
  background-color: #005C00;
  z-index: 10;
}

.grass1{
  left: 200px;
  top: 275px;
  height: 75px;
  width: 100px;
}

.grass2{
  left: 250px;
  top: 250px;
  height: 50px;
  width: 100px;
}

.grass3{
  left: 500px;
  top: 0px;
  height: 40px;
  width: 100px;
}